* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(135deg, #f97316, #f96e2a);
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    font-family: sans-serif;
}

.card {
    margin-bottom: 1rem;
}
.info-box {
    background: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 150px;
}

.info-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #FCC737;
    color: black;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  h5 {
    display: flex;
    align-items: center; 
    gap: 10px; 
  }
  
  h5 .info-icon {
    width: 40px; 
    height: 40px;
    background-color: #FCC737;
    display: flex;
    justify-content: center; 
    align-items: center; 
    border-radius: 50%; 
    font-size: 16px; 
    color: black; 
  }
  